<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Creado una crud con Node y express</h1>
    <img src="https://i.blogs.es/0ca9a6/aa/1366_2000.jpeg" alt="dfdfdf">
  </body>
</html>
